name: "test env"
on:
  issues:
    types: [opened,edited,reopened]
  issue_comment:
    types: [created,edited,deleted]


jobs:
  test:
    runs-on: ubuntu-latest
    steps:

      - name: Show new comments
        run: |
          echo ${{ github.event.comment.body }}
          echo ${{ github.event.changes.body. }}
          echo ${{ github.event }}
          env
