name: "Set Issue"
on:
  issues:
    types: [opened]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: Naturalclar/issue-action@v1.0.0
        with:
          keywords: '["help", "wanted"]'
          labels: '["help wanted"]'
          github-token: "${{ secrets.GITHUB_TOKEN }}"

      - uses: ./
        with:
          keywords: '["test"]'
          assignees: '["deancn"]'
          github-token: "${{ secrets.GITHUB_TOKEN }}"
