name: "Set Issue"
on:
  issues:
    types: [opened,edited,reopened]
  issue_comment:
    types: [created,edited,deleted]


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set label
        uses: Naturalclar/issue-action@v1.0.0
        with:
          keywords: '["help", "wanted"]'
          labels: '["help wanted"]'
          github-token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Assigne
        uses: Naturalclar/issue-action@v1.0.0
        with:
          keywords: '["@deancn"]'
          assignees: '["deancn"]'
          github-token: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          echo ${{ github.event.comment.body }}
          echo ${{ github.event.changes.body.from }}
